* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Arial", sans-serif;
	background-color: lightgray;
}

h1 {
	text-align: center;
	color: green;
	font-style: italic;
}

.notify {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: yellow;
	color: black;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

.search {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

h2 {
	font-style: italic;
	padding: 5px;
}

.search input {
	padding: 10px;
	width: 200px;
	border: 1px solid gray;
	border-radius: 5px;
}

.search button {
	padding: 10px 20px;
	margin-left: 10px;
	background-color: green;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.search button:hover {
	background-color: darkgreen;
}

.add-contact {
	margin-top: 20px;
}

.add-contact h2 {
	color: blue;
}

.add-contact form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.add-contact div {
	margin-bottom: 10px;
}

.add-contact input {
	padding: 10px;
	width: 200px;
	border: 1px solid gray;
	border-radius: 5px;
}

.add-contact button {
	padding: 10px 20px;
	background-color: blue;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.add-contact button:hover {
	background-color: darkblue;
}

.phonebook {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.phonebook h2 {
	color: red;
	margin-bottom: 10px;
}

.phonebook ul {
	list-style-type: none;
}

.phonebook li {
	padding: 5px;
	width: 400px;
	border-radius: 5px;
	display: flex;
	align-items: center;
}

.phonebook .person {
	background-color: white;
	display: flex;
	padding: 5px;
	margin-bottom: 5px;
	align-items: center;
	justify-content: center;
}

.phonebook li span {
	font-weight: bold;
}

.phonebook button {
	padding: 5px 10px;
	background-color: red;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.phonebook button:hover {
	background-color: darkred;
}
